{
    "plugins": ["transform-runtime",["component", [
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ]],
      "transform-remove-strict-mode"],
    "presets": ["env","stage-0"]
}